@import url(https://fonts.googleapis.com/css?family=Muli:500,700&display=swap);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	margin: auto;
	font-size: 20px;
	font-family: 'Muli', 'Arial', sans-serif;
	font-weight: 500;
	line-height: 2em;
	text-align: left;
	color: #222;
}

header {
	width: 100%;
	float: left;
}

nav a{
	text-transform: uppercase;
	margin: 1em;
	color: #222;
}

section {
	width: 50em;
	padding: 4em;
	margin: auto;
}

footer {
	background: #87ceeb;
	padding: .5em;
	margin: auto;
}

footer a {
	color: #222;
	text-transform: uppercase;
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 700;
	padding: 1em 0;
}

h3 {
	color: #fff;
	font-size: 1.5em;
	font-weight: 500;
	padding: 1em;
}

a {
	text-decoration: none;
	color: #ff9d5c;
	font-weight: 700;
}

form {
	text-align: center;
}

input {
	font-family: 'Muli', 'Arial', sans-serif;
	font-size: 1em;
}

input[type="submit"] {
	border: none;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.donate {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	background: #3eb449;
	padding: .5em 1.5em;
	margin: 1em 0;
	width: 10em;
	text-align: center;
	box-shadow: 1.5px 1.5px 2px #222;
}

.donate:hover {
	background-color: #3eb489;
	box-shadow: 1.5px 1.5px 4px #222;
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	color: #fff;
	background: #ff9d5c;
	padding: .5em 1.5em;
	margin: 1em 0;
	width: 10em;
	text-align: center;
	box-shadow: 1.5px 1.5px 4px #222;
}

.btn:hover {
	background-color: #ff7d5c;
	box-shadow: 1.5px 1.5px 4px #222;
}

#nav-items {
	letter-spacing: .25em;
	margin: 1em;
	display: inline-block;
	vertical-align: middle;
}

#icon {
	width: 4em;
	float: left;
}

#donate-nav {
	float: right;
	margin: .5em 1em;
}

#header-items {
	background: radial-gradient(rgba(245,235,220,.33),rgba(245,235,220,.33)), url(images/wangama-walking.jpg);
	background-size: cover;
	text-align: center;
	width: 100%;
}

#header-items img {
	width: 30em;
	padding-top: 1em;
}

#donate {
	color: #3eb449;
}

#multiple-items {
	background-color: rgba(245,235,220,.5);
	width: 90%;
}

#multiple-items div {
	float: left;
	width: 33%;
	padding: .5em;
}

#yellow {
	color: #ffcd73;
}

#blue {
	color: #87ceeb;
}

#gallery {
	width: 100%;
}

#gallery img {
	width: 45%;
}

#join {
	background: #ffed83;
	width: 100%;
}

#social-icons {
	float: right;
}

#social-icons img {
	width: 1.5em;
}